.landing {
    position: relative;
    background: url("./img/bg2.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin-top: -24px;
    margin-bottom: -50px;
  } 

   img {
    width: 100%;
  } 