.resultRender{
    text-align: center;
    border: 2mm ridge rgba(183, 76, 216, 0.582);
    padding: 10px 10px 10px 10px;
    margin: 10px;
    display: inline-block;
    width: 50%;
}

.results{
    text-align: center;
}